* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 82.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  background: #d8d5d5;
  padding: 0 3rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* Section used for centering */
section {
  max-width: 180rem;
  width: 100%;
  height: 150vh;
  background: #ececec;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item {
  background: #d8d5d5;
  padding: 3rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
  /* border-radius: .5rem; */
}

.accordion-item:hover .accordion-link .accordion-title {
  color: rgb(0, 0, 0);
}

.accordion-link {
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  font-weight: 900;
  text-decoration: none;
  width: 100%;
  padding: 1rem 0;
}

.accordion-link:first-child .accordion-title {
  font-size: 1.6rem;
  color: rgb(21, 5, 250);
  font-weight: 900;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.accordion-title:hover {
  color: rgb(0, 0, 0);
}

.accordion-link i {
  color: rgb(21, 5, 250);

  font-size: 2rem;
  padding: 0.5rem;
}

.accordion-link .ion-md-close {
  display: none;
}

.accordion-link .ion-md-add {
  display: none;
}

.giphy {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.3s;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  /* transition: scroll-behavior 1s; */
}

.accordion-item:target .giphy {
  max-height: 100rem;
}

.accordion-item:hover .giphy {
  max-height: 100rem;
}

.accordion-item:target .accordion-link .ion-md-add {
  display: none;
}

.accordion-item:target .accordion-link .ion-md-close {
  /* display: block; */
  color: rgb(0, 0, 0);
}

.accordion-item:hover .accordion-link .ion-md-add {
  display: none;
}
.accordion-item:target .accordion-title {
  color: rgb(0, 0, 0);
}

.container:hover .accordion-item .accordion-title {
  color: rgb(0, 0, 0);
}

.accordion-item:hover .accordion-link .ion-md-close {
  display: block;
  color: rgb(0, 0, 0);
}

.container:hover .ion-md-add {
  display: block;
  color: rgb(0, 0, 0);
}

.container:hover .accordion-item:target .accordion-link .ion-md-close {
  display: block;
  color: rgb(0, 0, 0);
}
